/.venv_rtb
/__pycache__
*.pyc
/geometry/__pycache__
/graph/__pycache__
/planner/__pycache__
/system/__pycache__
/results
/benchmark_results_rollouts
/benchmark_results_vmax
/benchmark_results_obstacles